#Menu {
	height:60px;
	background-color:#FFF;
}

ul.EMenu {/*main menu*/
	background: #dce0f2;
	height:60px;
	margin-right:0px;
	padding:0;
	z-index:3;
}

ul.EMenu ul {/* sub-menus */
	background:#9ba5de;
	display:none; 
	position:absolute;
	top:100%;
	width:150px;
        z-index:3;
}

ul.EMenu > li {
	position:relative;
	display:inline-block;
	list-style:none;
	width:150px;
	height:60px;
	text-align:center;
        font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	z-index:3;
}

ul.EMenu a{
	cursor: pointer; 
	display: block; 
	color:#787878;	/*Letter color*/ 
	line-height:15px; 
	padding:20px; 
	text-decoration:none;
	z-index:3;
}

ul.EMenu li { 
	list-style:none;
	z-index:3;
}

ul.EMenu li:hover { 
	background: #DCDCDC; /*Highlight selector*/  
        z-index:3;
}

ul.EMenu li:hover ul { 
	display: block;
	padding:0;
	z-index:3;

}

