th {
  background-color: #267C97;
  color: white;
  text-align: left;
  padding: 15px;
  font-family:Arial;
}


.h1 {
	font-size: 40px;
	font-style: normal; 
	line-height: normal; 
	color: #F0F0F0; 
	font-weight: bold;
	font-family:Arial;
}


