/* Search bar in results page */

body{
        margin:0;
        padding:0;
}

.search-box{
        position:absolute;
        top:90px;
        left:600px;
        transform:translate(0%,-50%);
        background:#404040;
        height:50px;
        border-radius:50px;
        padding:10px;
}


.search-box:hover > .search-txt{
        width:250px;
        padding:0 16px;
}

.search-box:hover > .search-btn{
        background:#080808;
        color:white;
}

.search-btn{
        color:#87CEEB;
        float:right;
        width:50px;
        height:50px;
        border-radius:50%;
        background:#404040;
        display:flex;
        justify-content:center;
        align-items:center;
        transition:1.2s;
        border:none;
}

.search-txt{
        border:none;
        background:none;
        outline:none;
        float:left;
        padding:0;
        color:white;
        font-size:20px;
        transition:1.2s;
        line-height:50px;
        width:0px;
}

.Checkboxes{
	position:absolute;
	margin-top:60px;
        transform:translate(-340px,10px);
        font-family:Arial;
        color:#FFF;
        text-align:center;
	align-items:center;
        background:rgba(0,0,0,0.7);
        padding:20px;
        width:350px;
        height:10px;
        border-radius:100px;
	display:inline-block;
}
