/*Successful Login*/

body {
	font-family:Arial;
	color: #ffe6e6;
	background:url(../Ima/Coli.jpg);
	background-size:100%;
}

#Container {
        width: 1270px;
        height:auto;
        margin-left:0;
        margin-right:0;
}

#Header {
        height:180px;
}

img {
        max-width:100%;
        max-height:95%;
        margin-left:15px;
        margin-top:5px;
}


form { /*Lines up the text in the rectangle*/
        width: 240px;
        text-align:center;
}

a {
	color:yellow;
	font-family:Arial;
}

.suclogin{
	background:rgba(44,62,80,0.7);
	padding:40px;
	height:200px;
	margin-left:180px;
	margin:0 auto;
	width:240px;
}

h2 {
	margin-top:50px;
	margin-left:10px;
}
